@import 'basic'

=filter($filter-type,$filter-amount)
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})')
  -moz-filter: $filter-type+unquote('(#{$filter-amount})')
  -ms-filter: $filter-type+unquote('(#{$filter-amount})')
  -o-filter: $filter-type+unquote('(#{$filter-amount})')
  filter: $filter-type+unquote('(#{$filter-amount})')

// h1, h3
//     font-family: "josefinSans"
// h2, p
//     font-family: 'roboto light'
p
    font-weight: 600
div
    background-image: url('../img/AMNIUM\ \(4\).svg')

main
    padding: 0 200px

.entry
    h1
        font-size: 50px
        line-height: 60px 
        margin: 20px 0
    div
        display: flex
        align-items: center
        a
            text-decoration: none
            margin: 0 20px

.introduction
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 0.2fr 0.8fr
    grid-template-areas: 'a .' '. b'
    gap: 15px
    padding: 100px 0
    h1
        font-size: 40px
        margin: 0
        grid-area: a
    p
        font-size: 28px
        grid-area: b
        font-weight: 400

.weDo
    border-top: solid 1px #cfcfcf
    border-bottom: solid 1px #cfcfcf
    margin: 120px 0
    padding: 80px 0
    display: flex
    justify-content: center
    flex-wrap: wrap
    h1
        font-size: 40px
        text-align: center
        width: 100%
.weDoContainer
    display: flex
    justify-content: space-evenly
    width: 50%
    div
        width: 50%
        margin: 0 10px
        text-align: center
        h2
            font-size: 35px
            margin: 20px 0
        p
            font-size: 22px
            line-height: 25px
            font-weight: 400
            margin: 0
.theTeam
    display: grid
    ul
        list-style: none
        padding: 0
        margin-top: 130px
        border-bottom: solid 1px #cfcfcf
        li
            border-top: solid 1px #cfcfcf
            font-size: 25px
            line-height: 38px
            padding: 10px 0

    p
        width: 100%
        max-width: 700px
        font-size: 30px
        // font-family: 'roboto light'
        font-weight: 400
        margin: 15px 0

.theLead
    display: flex
    justify-content: space-between
    gap: 20px
    div
        img
            width: 30vw
            transition: all 0.5s
            +filter(grayscale,100%)
            &:hover
                filter: grayscale(0)
        h1
            font-size: 30px
            margin-bottom: 10px
        h2
            // font-family: 'roboto light'
            font-size: 22px
            margin: 0 

video
    object-fit: cover
    width: 100%

#review
    margin: 50px 0
    background-color: $ThirdColor
    display: flex
    justify-content: space-around
    align-items: center
    padding: 100px 0
    button
        border: 0
        border-radius: 50%
        width: 60px
        height: 60px
        color: $MainColor
        padding: 0
        transition: 0.5s
        &:hover
            cursor: pointer
        img
            filter: invert(99%) sepia(5%) saturate(351%) hue-rotate(337deg) brightness(98%) contrast(92%)
            width: 100%
.btn-container
    display: flex
    justify-content: space-between
    gap: 15px
    width: 15vw
    min-width: 200px

    


.review 
    position: relative
    overflow: hidden
    width: 50%
.review-slider 
    display: flex
.review-slide 
    flex: 1 0 100%
    padding: 3px
    h1
        color: $MainColor
        font-size: 2.5em
    p
        // font-family: "roboto light"
        font-weight: 200
        color: $MainColor
        font-size: 1.4em
        line-height: 1.5em

@media screen and (max-width: 1200px)
    .blogs
        margin: 0 100px
    main
        padding: 0 100px
    .introduction
        grid-template-areas: 'a .' 'b b'
        h1
            font-size: 35px
    .weDo
        flex-direction: column
    .weDoContainer
        width: 100%
        div
            width: 50%

    #review
        flex-direction: column
    .review
        width: 80%
@media screen and (max-width: 800px)
    .blogs
        margin: 0 10px
        h1
            font-size: 28px
        div
            width: 150px
    main
        padding: 0 10px
    .entry
        h1
            font-size: 30px
            line-height: 35px
    .introduction
        grid-template-areas: 'a a' 'b b'
        h1
            font-size: 30px
        p
            font-size: 18px

    .weDo
        h1
            font-size: 30px
    .weDoContainer
        flex-direction: column
        justify-content: center
        div
            width: 100%
            margin: 8px 0
            h2
                font-size: 25px
                letter-spacing: 3px
                margin: 10px 0
            p
                font-size: 17px
    
    .theLead
        flex-direction: column
        div
            img
                width: 100%
            h1
                font-size: 25px
            h2
                font-size: 19px
    .theTeam
        ul
            margin-top: 70px
        p
            font-size: 24px
    .review
        width: 95%
    .review-slide
        h1
            font-size: 1.7em
        p
            font-size: 1.2em
            line-height: 1.3em