@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "roboto light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "josefinSans";
  src: url("../fonts/JosefinSans-Medium.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "roboto";
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
}

body {
  margin: 0;
  background-color: #ffffff;
}

nav {
  position: fixed;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  z-index: 8;
}

.no-margin {
  margin: 0;
}

.logo {
  width: 90px;
  margin: auto 20px;
  z-index: 9;
}

.fa-solid {
  margin: auto 5px;
}

.buttons {
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.6rem;
  cursor: pointer;
  border: none;
  position: relative;
  margin-right: 20px;
  z-index: 8;
}

.dropdown {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  margin: 0px;
  transition: all 0.7s cubic-bezier(0.16, 1, 0.5, 1);
  transform: translateY(-110%);
  visibility: hidden;
  background-color: #ffffff;
}
.dropdown button {
  border: none;
}
.dropdown button img {
  width: 30px;
}

.holder {
  display: flex;
  place-content: center;
  width: 80%;
  height: 90%;
  margin: 0 auto;
}
.holder a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.holder ul {
  margin: auto 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  grid-area: b;
  gap: 25px;
}
.holder ul li {
  text-align: center;
}
.holder ul li i {
  margin: 0 10px;
}

.blackbar {
  height: 10%;
  width: 100%;
  background-color: #000000;
}

.show {
  transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 800px) {
  nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    transform-style: preserve-3d;
  }
  .buttons {
    display: none;
  }
  .fa-bars {
    font-size: 2em;
  }
  .logo {
    margin: auto 20px;
  }
  .btn {
    margin-right: 20px;
  }
  .holder {
    width: 100%;
  }
}
.contact-us {
  padding: 4vw 15vw 4vw 15vw;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.contact-info {
  width: 50%;
}
.contact-info h1 {
  font-size: 1.8em;
}
.contact-info p {
  padding: 0 10px 0 10px;
  font-size: 1.2em;
}
.contact-info h2 {
  font-size: 1.5em;
  color: #000000;
  font-style: italic;
}

.contact-form {
  border-radius: 15px;
  padding: 30px 10px 80px 10px;
  width: 50%;
  height: auto;
  position: relative;
}

.fill-in {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.inputForms {
  border: 1px solid #007d5a;
  border-radius: 5px;
  font-size: 1.3em;
  width: 45%;
  height: 50px;
  margin: 5px 10px 5px 10px;
}

.inputs {
  text-align: left;
  padding: 0 20px 0 20px;
}
.inputs label {
  font-size: 1.1em;
}
.inputs label a {
  color: #007d5a;
}

form {
  text-align: center;
}

input[type=submit] {
  width: 100px;
  height: 30px;
  background-color: #007d5a;
  border: none;
  border-radius: 15px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  transition: 0.3s;
}
input[type=submit]:hover {
  background-color: #007d5a;
  color: #000000;
}

@media screen and (max-width: 1500px) {
  .contact-info {
    width: 100%;
  }
  .contact-us {
    padding: 4vw 8vw 4vw 8vw;
    flex-direction: column;
    padding: 15px;
  }
  .contact-form {
    width: 100%;
    min-width: none;
    padding-bottom: 80px;
  }
  .inputForms {
    width: 80%;
    margin: 5px 0;
  }
  input[type=submit] {
    bottom: 2%;
  }
}
footer {
  bottom: 0;
  display: flex;
  justify-content: center;
}

.last-message {
  display: flex;
  justify-content: space-between;
  height: 20%;
  padding: 20px 50px;
  font-size: 1.2em;
  margin-top: 50px;
}
.last-message section {
  display: flex;
  flex-direction: column;
  width: 10%;
}
.last-message section p {
  margin: 5px 0;
  font-size: 16px;
}
.last-message section div {
  display: flex;
  gap: 15px;
  margin: 5px 0;
}
.last-message section a {
  text-align: right;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}
.last-message section a:hover {
  text-decoration: underline;
}

.annoying {
  margin-left: auto;
  width: 60%;
}

@media screen and (max-width: 1200px) {
  .annoying {
    margin: auto;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .last-message {
    display: flex;
    flex-direction: column;
  }
  .last-message section {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
  .last-message section div {
    justify-content: center;
  }
  .last-message section a {
    text-align: center;
  }
  .annoying {
    width: 40%;
  }
}
h1, h3 {
  font-family: "josefinSans";
}

h2, p {
  font-family: "roboto light";
}

p {
  font-weight: 600;
}

div {
  background-image: url("../img/AMNIUM (4).svg");
}

main {
  padding: 0 200px;
}

.blogs {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
}
.blogs div {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.blogs div a {
  font-family: "roboto light";
  font-weight: 600;
  text-decoration: none;
}

.entry h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 20px 0;
}
.entry div {
  display: flex;
  align-items: center;
}
.entry div a {
  text-decoration: none;
  margin: 0 20px;
}

.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.8fr;
  grid-template-areas: "a ." ". b";
  gap: 15px;
  padding: 100px 0;
}
.introduction h1 {
  font-size: 40px;
  margin: 0;
  grid-area: a;
}
.introduction p {
  font-size: 20px;
  grid-area: b;
}

.weDo {
  border-top: solid 1px #cfcfcf;
  border-bottom: solid 1px #cfcfcf;
  margin: 120px 0;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.weDo h1 {
  font-size: 40px;
  text-align: center;
  width: 100%;
}

.weDoContainer {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.weDoContainer div {
  width: 50%;
  margin: 0 10px;
  text-align: center;
}
.weDoContainer div h2 {
  font-size: 35px;
  margin: 20px 0;
}
.weDoContainer div p {
  font-size: 19px;
  line-height: 25px;
  margin: 0;
}

.theTeam {
  display: grid;
}
.theTeam ul {
  list-style: none;
  padding: 0;
  margin-top: 130px;
  border-bottom: solid 1px #cfcfcf;
}
.theTeam ul li {
  border-top: solid 1px #cfcfcf;
  font-size: 25px;
  line-height: 38px;
  padding: 10px 0;
}
.theTeam p {
  width: 100%;
  max-width: 700px;
  font-size: 30px;
  font-family: "roboto light";
  font-weight: 400;
  margin: 15px 0;
}

.theLead {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.theLead div img {
  width: 30vw;
  transition: all 0.5s;
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.theLead div img:hover {
  filter: grayscale(0);
}
.theLead div h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
.theLead div h2 {
  font-family: "roboto light";
  font-size: 22px;
  margin: 0;
}

video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#review {
  margin: 50px 0;
  background-color: #007d5a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0;
}
#review button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #ffffff;
  padding: 0;
  transition: 0.5s;
}
#review button:hover {
  cursor: pointer;
}
#review button img {
  transition: 0.5s;
  width: 100%;
}
#review button img:hover {
  filter: invert(99%) sepia(5%) saturate(351%) hue-rotate(337deg) brightness(98%) contrast(92%);
}

.btn-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 15vw;
  min-width: 200px;
}

.review {
  position: relative;
  overflow: hidden;
  width: 50%;
}

.review-slider {
  display: flex;
}

.review-slide {
  flex: 1 0 100%;
  padding: 3px;
}
.review-slide h1 {
  color: #ffffff;
  font-size: 2.5em;
}
.review-slide p {
  font-family: "roboto light";
  font-weight: 200;
  color: #ffffff;
  font-size: 1.4em;
  line-height: 1.5em;
}

@media screen and (max-width: 1200px) {
  .blogs {
    margin: 0 100px;
  }
  main {
    padding: 0 100px;
  }
  .introduction {
    grid-template-areas: "a ." "b b";
  }
  .introduction h1 {
    font-size: 35px;
  }
  .weDo {
    flex-direction: column;
  }
  .weDoContainer {
    width: 100%;
  }
  .weDoContainer div {
    width: 50%;
  }
  #review {
    flex-direction: column;
  }
  .review {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .blogs {
    margin: 0 10px;
  }
  .blogs h1 {
    font-size: 28px;
  }
  .blogs div {
    width: 150px;
  }
  main {
    padding: 0 10px;
  }
  .entry h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .introduction {
    grid-template-areas: "a a" "b b";
  }
  .introduction h1 {
    font-size: 30px;
  }
  .introduction p {
    font-size: 18px;
  }
  .weDo h1 {
    font-size: 30px;
  }
  .weDoContainer {
    flex-direction: column;
    justify-content: center;
  }
  .weDoContainer div {
    width: 100%;
    margin: 8px 0;
  }
  .weDoContainer div h2 {
    font-size: 25px;
    letter-spacing: 15px;
    margin: 10px 0;
  }
  .weDoContainer div p {
    font-size: 17px;
  }
  .theLead {
    flex-direction: column;
  }
  .theLead div img {
    width: 100%;
  }
  .theLead div h1 {
    font-size: 25px;
  }
  .theLead div h2 {
    font-size: 19px;
  }
  .theTeam ul {
    margin-top: 70px;
  }
  .theTeam p {
    font-size: 24px;
  }
  .review {
    width: 95%;
  }
  .review-slide h1 {
    font-size: 1.7em;
  }
  .review-slide p {
    font-size: 1.2em;
    line-height: 1.3em;
  }
}/*# sourceMappingURL=about-us.css.map */