* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

body {
  margin: 0;
  background-color: #2e253a;
}

nav {
  position: fixed;
  width: 100vw;
  background-color: #2e253a;
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  grid-template-rows: 100%;
  height: 60px;
  z-index: 9;
}
nav p {
  display: grid;
  justify-items: center;
  align-items: center;
  border: 0px;
  font-size: 20px;
  margin: 0 14px;
}

#dropdown {
  display: none;
}

.logo {
  width: 70px;
  height: 50px;
  margin: auto 30px;
}

.fa-solid {
  margin: auto 5px;
}

.buttons {
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

#Navbutton {
  border: none;
  text-decoration: none;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.4s;
  font-weight: 600;
  padding: 0 8px;
  margin: 0 4px;
}
#Navbutton::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 0;
  background: #d7bd68;
  transform: scaleX(0);
  transition: 0.4s;
}
#Navbutton:hover::after {
  transform: scaleX(1);
}
#Navbutton:hover {
  color: #d7bd68;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 800px) {
  nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    transform-style: preserve-3d;
  }
  .buttons {
    display: none;
  }
  #dropdown {
    margin: auto 15px;
    display: flex;
  }
  .dropButtons {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #2e253a;
    top: 95%;
    right: -100%;
    transform: translateX(-100%);
    overflow: auto;
    animation: animateFromBottom 0.3s;
  }
  .dropButtons a {
    font-size: 20px;
  }
  .show {
    display: block;
  }
  .fa-bars {
    font-size: 2em;
  }
}
.contact-us {
  padding: 4vw 15vw 4vw 15vw;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.contact-info {
  width: 50%;
}
.contact-info h1 {
  font-size: 1.8em;
}
.contact-info p {
  padding: 0 10px 0 10px;
  font-size: 1.2em;
}
.contact-info h2 {
  font-size: 1.5em;
  color: #ffffff;
  font-style: italic;
}

.contact-form {
  background-color: rgba(113, 0, 206, 0.0666666667);
  border-radius: 15px;
  padding: 30px 10px 80px 10px;
  width: 50%;
  height: auto;
  position: relative;
}

.fill-in {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.inputForms {
  border: 1px solid #d7bd68;
  border-radius: 5px;
  font-size: 1.3em;
  width: 45%;
  height: 50px;
  margin: 5px 10px 5px 10px;
}

.inputs {
  text-align: left;
  padding: 0 20px 0 20px;
}
.inputs label {
  font-size: 1.1em;
}
.inputs label a {
  color: #d7bd68;
}

form {
  text-align: center;
}

input[type=submit] {
  width: 100px;
  height: 30px;
  background-color: #d7bd68;
  border: none;
  border-radius: 15px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2e253a;
  transition: 0.3s;
}
input[type=submit]:hover {
  background-color: #f30000;
  color: #ffffff;
}

@media screen and (max-width: 1500px) {
  .contact-info {
    width: 100%;
  }
  .contact-us {
    padding: 4vw 8vw 4vw 8vw;
    flex-direction: column;
    padding: 15px;
  }
  .contact-form {
    width: 100%;
    min-width: none;
    padding-bottom: 80px;
  }
  .inputForms {
    width: 80%;
    margin: 5px 0;
  }
  input[type=submit] {
    bottom: 2%;
  }
}
footer {
  bottom: 0;
}
footer a {
  text-decoration: none;
  transition: ease 1.2s;
}
footer a:hover {
  text-decoration-line: underline;
  color: #f30000;
}

.last-message {
  display: flex;
  justify-content: space-evenly;
  height: 20%;
  background-color: #282230;
  padding: 20px 0;
  font-size: 1.2em;
}
.last-message h2 {
  color: #d7bd68;
}
.last-message ul {
  list-style-type: none;
  padding: 0;
}
.last-message div {
  display: flex;
  justify-content: space-around;
  width: 150px;
}
.last-message div i {
  transition: 1s;
  font-size: 24px;
}
.last-message div i:hover {
  color: #f30000;
}

.copy-right {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #201c25;
}

@media screen and (max-width: 800px) {
  .last-message {
    flex-direction: column;
    padding: 10px 50px 50px 50px;
  }
}
.tint {
  background-color: rgba(127, 74, 134, 0.5019607843);
  background-blend-mode: multiply;
}

header {
  background-image: url("/img/webb/futuristicImg.png");
  height: 500px;
  overflow: hidden;
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center;
}
header div {
  width: 50vw;
}
header div h1 {
  font-size: 3.5em;
}
header div p {
  font-size: 1.7em;
}
header button {
  font-size: x-large;
  font-weight: 600;
  color: #ffffff;
  background-color: #2e253a;
  border: none;
  width: auto;
  height: 45px;
  border-radius: 10px;
  transition: 0.5s;
  padding: 0 20px;
}
header button:hover {
  cursor: pointer;
  background-color: #d7bd68;
}

.preamble {
  display: flex;
  justify-content: center;
  margin: 80px 0;
  gap: 80px;
}
.preamble section {
  width: 40vw;
  height: auto;
  font-size: 1.6em;
}
.preamble section:nth-child(2) {
  background-image: url("/img/webb/plan.png");
  max-width: 600px;
  max-height: 300px;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.options-container-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(6, 16%);
}
.options-container-grid h1 {
  color: #121e30;
  font-size: 1.7em;
}
.options-container-grid p {
  color: #121e30;
  font-size: 1.3em;
}
.options-container-grid section {
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px;
}
.options-container-grid section button {
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
  background-color: #2e253a;
  border: none;
  width: auto;
  height: auto;
  transition: 0.2s;
  padding: 10px 20px;
}
.options-container-grid section button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #2e253a;
}

.SEO1 {
  padding: 80px;
  background-color: #a9bfff;
}

.PPC2 {
  background-color: #a9ffde;
}

.WDD3 {
  background-color: #d5a9ff;
}

.CRO4 {
  background-color: #ffa9a9;
}

.PSA5 {
  background-color: #a9f2ff;
}

.EM6 {
  background-color: #e5ffa9;
}

.grid1-2 {
  background-image: url("https://unsplash.it/900/400");
  background-size: cover;
}

.grid2-2 {
  background-image: url("https://unsplash.it/900/400");
  background-size: cover;
}

.grid3-2 {
  background-image: url("https://unsplash.it/900/400");
  background-size: cover;
}

.grid4-2 {
  background-image: url("https://unsplash.it/900/400");
  background-size: cover;
}

.grid5-2 {
  background-image: url("https://unsplash.it/900/400");
  background-size: cover;
}

.grid6-2 {
  background-image: url("https://unsplash.it/900/400");
  background-size: cover;
}

@media screen and (max-width: 900px) {
  header {
    justify-items: center;
  }
  header div {
    width: 90%;
  }
  header div h1 {
    font-size: 2em;
  }
  header div p {
    font-size: 1.2em;
  }
  header button {
    font-size: 1.2em;
  }
  .preamble {
    flex-direction: column;
    align-items: center;
  }
  .preamble section {
    width: 90%;
    height: 50%;
  }
  .preamble section:nth-of-type(2) {
    height: 40vh;
  }
  .options-container-grid {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .options-container-grid section {
    padding: 10px;
  }
  .preamble {
    margin: 20px 0;
    gap: 20px;
  }
  .preamble section {
    font-size: 1.3em;
  }
}/*# sourceMappingURL=digital-marketing.css.map */