@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "roboto light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "josefinSans";
  src: url("../fonts/JosefinSans-Medium.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "roboto";
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
}

body {
  margin: 0;
  background-color: #ffffff;
}

nav {
  position: fixed;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  z-index: 8;
}

.no-margin {
  margin: 0;
}

.logo {
  width: 90px;
  margin: auto 20px;
  z-index: 9;
}

.fa-solid {
  margin: auto 5px;
}

.buttons {
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.6rem;
  cursor: pointer;
  border: none;
  position: relative;
  margin-right: 20px;
  z-index: 8;
}

.dropdown {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  margin: 0px;
  transition: all 0.7s cubic-bezier(0.16, 1, 0.5, 1);
  transform: translateY(-110%);
  visibility: hidden;
  background-color: #ffffff;
}
.dropdown button {
  border: none;
}
.dropdown button img {
  width: 30px;
}

.holder {
  display: flex;
  place-content: center;
  width: 80%;
  height: 90%;
  margin: 0 auto;
}
.holder a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.holder ul {
  margin: auto 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  grid-area: b;
  gap: 25px;
}
.holder ul li {
  text-align: center;
}
.holder ul li i {
  margin: 0 10px;
}

.blackbar {
  height: 10%;
  width: 100%;
  background-color: #000000;
}

.show {
  transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 800px) {
  nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    transform-style: preserve-3d;
  }
  .buttons {
    display: none;
  }
  .fa-bars {
    font-size: 2em;
  }
  .logo {
    margin: auto 20px;
  }
  .btn {
    margin-right: 20px;
  }
  .holder {
    width: 100%;
  }
}
.contact-us {
  padding: 4vw 15vw 4vw 15vw;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.contact-info {
  width: 50%;
}
.contact-info h1 {
  font-size: 1.8em;
}
.contact-info p {
  padding: 0 10px 0 10px;
  font-size: 1.2em;
}
.contact-info h2 {
  font-size: 1.5em;
  color: #000000;
  font-style: italic;
}

.contact-form {
  border-radius: 15px;
  padding: 30px 10px 80px 10px;
  width: 50%;
  height: auto;
  position: relative;
}

.fill-in {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.inputForms {
  border: 1px solid #007d5a;
  border-radius: 5px;
  font-size: 1.3em;
  width: 45%;
  height: 50px;
  margin: 5px 10px 5px 10px;
}

.inputs {
  text-align: left;
  padding: 0 20px 0 20px;
}
.inputs label {
  font-size: 1.1em;
}
.inputs label a {
  color: #007d5a;
}

form {
  text-align: center;
}

input[type=submit] {
  width: 100px;
  height: 30px;
  background-color: #007d5a;
  border: none;
  border-radius: 15px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  transition: 0.3s;
}
input[type=submit]:hover {
  background-color: #007d5a;
  color: #000000;
}

@media screen and (max-width: 1500px) {
  .contact-info {
    width: 100%;
  }
  .contact-us {
    padding: 4vw 8vw 4vw 8vw;
    flex-direction: column;
    padding: 15px;
  }
  .contact-form {
    width: 100%;
    min-width: none;
    padding-bottom: 80px;
  }
  .inputForms {
    width: 80%;
    margin: 5px 0;
  }
  input[type=submit] {
    bottom: 2%;
  }
}
footer {
  bottom: 0;
  display: flex;
  justify-content: center;
}

.last-message {
  display: flex;
  justify-content: space-between;
  height: 20%;
  padding: 20px 50px;
  font-size: 1.2em;
  margin-top: 50px;
}
.last-message section {
  display: flex;
  flex-direction: column;
  width: 10%;
}
.last-message section p {
  margin: 5px 0;
  font-size: 16px;
}
.last-message section div {
  display: flex;
  gap: 15px;
  margin: 5px 0;
}
.last-message section a {
  text-align: right;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}
.last-message section a:hover {
  text-decoration: underline;
}

.annoying {
  margin-left: auto;
  width: 60%;
}

@media screen and (max-width: 1200px) {
  .annoying {
    margin: auto;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .last-message {
    display: flex;
    flex-direction: column;
  }
  .last-message section {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
  .last-message section div {
    justify-content: center;
  }
  .last-message section a {
    text-align: center;
  }
  .annoying {
    width: 40%;
  }
}
.tint {
  background-color: rgba(127, 74, 134, 0.5019607843);
  background-blend-mode: multiply;
}

header {
  background-image: url("/img/webb/futuristicImg.png");
  height: 500px;
  overflow: hidden;
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center;
}
header div {
  width: 50vw;
}
header div h1 {
  font-size: 3.5em;
}
header div p {
  font-size: 1.7em;
}
header button {
  font-size: x-large;
  font-weight: 600;
  color: #000000;
  background-color: #ffffff;
  border: none;
  width: auto;
  height: 45px;
  border-radius: 10px;
  transition: 0.5s;
  padding: 0 20px;
}
header button:hover {
  cursor: pointer;
  background-color: #007d5a;
}

.preamble {
  display: flex;
  justify-content: center;
  margin: 80px 0;
  gap: 80px;
}
.preamble section {
  width: 40vw;
  height: auto;
  font-size: 1.6em;
}
.preamble section:nth-child(2) {
  background-image: url("/img/webb/plan.png");
  max-width: 600px;
  max-height: 300px;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.options-container-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(6, 16%);
}
.options-container-grid h1 {
  color: #121e30;
  font-size: 1.7em;
}
.options-container-grid p {
  color: #121e30;
  font-size: 1.3em;
}
.options-container-grid section {
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px;
}
.options-container-grid section button {
  font-size: 1.2em;
  font-weight: 600;
  color: #000000;
  background-color: #ffffff;
  border: none;
  width: auto;
  height: auto;
  transition: 0.2s;
  padding: 10px 20px;
}
.options-container-grid section button:hover {
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
}

.SEO1 {
  padding: 80px;
  background-color: #a9bfff;
}

.PPC2 {
  background-color: #a9ffde;
}

.WDD3 {
  background-color: #d5a9ff;
}

.CRO4 {
  background-color: #ffa9a9;
}

.PSA5 {
  background-color: #a9f2ff;
}

.EM6 {
  background-color: #e5ffa9;
}

.grid1-2 {
  background-image: url("https://unsplash.it/900/400");
  background-size: cover;
}

.grid2-2 {
  background-image: url("https://unsplash.it/900/400");
  background-size: cover;
}

.grid3-2 {
  background-image: url("https://unsplash.it/900/400");
  background-size: cover;
}

.grid4-2 {
  background-image: url("https://unsplash.it/900/400");
  background-size: cover;
}

.grid5-2 {
  background-image: url("https://unsplash.it/900/400");
  background-size: cover;
}

.grid6-2 {
  background-image: url("https://unsplash.it/900/400");
  background-size: cover;
}

@media screen and (max-width: 900px) {
  header {
    justify-items: center;
  }
  header div {
    width: 90%;
  }
  header div h1 {
    font-size: 2em;
  }
  header div p {
    font-size: 1.2em;
  }
  header button {
    font-size: 1.2em;
  }
  .preamble {
    flex-direction: column;
    align-items: center;
  }
  .preamble section {
    width: 90%;
    height: 50%;
  }
  .preamble section:nth-of-type(2) {
    height: 40vh;
  }
  .options-container-grid {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .options-container-grid section {
    padding: 10px;
  }
  .preamble {
    margin: 20px 0;
    gap: 20px;
  }
  .preamble section {
    font-size: 1.3em;
  }
}/*# sourceMappingURL=digital-marketing.css.map */