* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

body {
  margin: 0;
  background-color: #2e253a;
}

nav {
  position: fixed;
  width: 100vw;
  background-color: #2e253a;
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  grid-template-rows: 100%;
  height: 60px;
  z-index: 9;
}
nav p {
  display: grid;
  justify-items: center;
  align-items: center;
  border: 0px;
  font-size: 20px;
  margin: 0 14px;
}

#dropdown {
  display: none;
}

.logo {
  width: 70px;
  height: 50px;
  margin: auto 30px;
}

.fa-solid {
  margin: auto 5px;
}

.buttons {
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

#Navbutton {
  border: none;
  text-decoration: none;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.4s;
  font-weight: 600;
  padding: 0 8px;
  margin: 0 4px;
}
#Navbutton::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 0;
  background: #d7bd68;
  transform: scaleX(0);
  transition: 0.4s;
}
#Navbutton:hover::after {
  transform: scaleX(1);
}
#Navbutton:hover {
  color: #d7bd68;
}

.contactLink {
  width: 80px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#gif-Container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

video.fullscreen {
  position: absolute;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gif-contact {
  color: #ffffff;
  width: 500px;
  text-align: center;
  font-size: x-large;
  z-index: 1;
}
.gif-contact span {
  color: #d7bd68;
}
.gif-contact p {
  font-size: 24px;
  margin: 0 0 10px 0;
}
.gif-contact button {
  font-size: x-large;
  font-weight: 600;
  color: #ffffff;
  background-color: #2e253a;
  border: none;
  width: 200px;
  height: 45px;
  border-radius: 10px;
  transition: 0.5s;
}
.gif-contact button:hover {
  cursor: pointer;
  background-color: #d7bd68;
  color: #2e253a;
}

h1 {
  margin: 0;
}

.our-offer {
  padding: 50px 230px 50px 230px;
  display: grid;
  text-align: center;
  align-content: center;
}
.our-offer h1 {
  font-size: 38px;
}
.our-offer p {
  padding: 5px;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  font-size: 28px;
}

.what-matters {
  background-color: #d7bd68;
  padding: 4vw 0;
}
.what-matters h1 {
  color: #2e253a;
  font-size: 40px;
}
.what-matters h1 span {
  color: #ffffff;
}
.what-matters ul {
  padding-right: 30px;
}
.what-matters li {
  font-size: 20px;
  margin: 15px 0 10px 0;
  color: #2e253a;
  list-style-image: url("../img/icons/arrow.png");
}
.what-matters li span {
  color: #2e253a;
  font-weight: 700;
}
.what-matters div {
  display: flex;
  justify-content: center;
  margin: 0 50px;
  width: 90%;
}

.wm1 {
  width: 600px;
}

.what-matters-img {
  background-image: url("https://unsplash.it/600/600");
  background-size: cover;
  background-position: bottom;
  height: 600px;
  width: 600px;
  border-radius: 10px;
}

.marketing-services-grid {
  display: grid;
  grid-template-columns: repeat(3, 18vw);
  grid-template-rows: 25vh 25vh;
  justify-content: center;
  gap: 30px;
  padding: 80px 0;
}
.marketing-services-grid a {
  text-decoration: none;
  transition: 0.2s;
}
.marketing-services-grid a:hover {
  transform: translateY(-10%);
}

.serviceOptions {
  display: grid;
  align-content: center;
  margin: 0 10px 0 10px;
  border-radius: 10px;
  border-left: solid 2px #d7bd68;
  border-right: solid 2px #d7bd68;
  padding: 0 10px;
}
.serviceOptions div {
  display: flex;
  align-items: center;
  position: relative;
}
.serviceOptions div img {
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
}

.our-clients {
  color: #2e253a;
  background-color: #d7bd68;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  font-size: 1.4em;
  text-align: center;
}
.our-clients h1 {
  font-weight: 500;
}
.our-clients h3 {
  margin: 15px 0 0 0;
  font-weight: 400;
}
.our-clients a {
  margin-top: 25px;
}
.our-clients a img {
  width: 200px;
  transition: 0.4s;
}
.our-clients a:hover img {
  width: 210px;
}

.contact-us {
  padding: 4vw 15vw 4vw 15vw;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.contact-info {
  width: 50%;
}
.contact-info h1 {
  font-size: 1.8em;
}
.contact-info p {
  padding: 0 10px 0 10px;
  font-size: 1.2em;
}
.contact-info h2 {
  font-size: 1.5em;
  color: #ffffff;
  font-style: italic;
}

.contact-form {
  background-color: rgba(113, 0, 206, 0.0666666667);
  border-radius: 15px;
  padding: 30px 10px 80px 10px;
  width: 50%;
  height: auto;
  position: relative;
}

.fill-in {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.inputForms {
  border: 1px solid #d7bd68;
  border-radius: 5px;
  font-size: 1.3em;
  width: 45%;
  height: 50px;
  margin: 5px 10px 5px 10px;
}

.inputs {
  text-align: left;
  padding: 0 20px 0 20px;
}
.inputs label {
  font-size: 1.1em;
}
.inputs label a {
  color: #d7bd68;
}

form {
  text-align: center;
}

input[type=submit] {
  width: 100px;
  height: 30px;
  background-color: #d7bd68;
  border: none;
  border-radius: 15px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2e253a;
  transition: 0.3s;
}
input[type=submit]:hover {
  background-color: #f30000;
  color: #ffffff;
  cursor: pointer;
}

footer a {
  text-decoration: none;
  transition: ease 1.2s;
}
footer a:hover {
  text-decoration-line: underline;
  color: #f30000;
}

.last-message {
  display: flex;
  justify-content: space-evenly;
  height: 20%;
  background-color: #282230;
  padding: 20px 0;
  font-size: 1.2em;
}
.last-message h2 {
  color: #d7bd68;
}
.last-message ul {
  list-style-type: none;
  padding: 0;
}
.last-message div {
  display: flex;
  justify-content: space-around;
  width: 150px;
}
.last-message div i {
  transition: 1s;
  font-size: 24px;
}
.last-message div i:hover {
  color: #f30000;
}

.copy-right {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #201c25;
}

@media screen and (max-width: 1500px) {
  .our-offer {
    padding: 50px 15px;
  }
  .what-matters div {
    display: grid;
  }
  .marketing-services-grid {
    grid-template-columns: repeat(2, 40vw);
    grid-template-rows: repeat(3, 350px);
  }
  .serviceOptions {
    margin: 10px;
  }
  .serviceOptions div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    text-align: center;
  }
  .serviceOptions div img {
    position: relative;
    left: 0;
  }
  .our-blogs section {
    flex-direction: column;
  }
  .our-blogs section div {
    display: grid;
    justify-items: center;
  }
  .contact-us {
    padding: 4vw 8vw 4vw 8vw;
    flex-direction: column;
  }
  .contact-info {
    width: 100%;
  }
  .contact-forum {
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .marketing-services-grid {
    grid-template-columns: 60%;
    grid-template-rows: repeat(6, 350px);
  }
  .client-opinions {
    height: 100vh;
    flex-direction: column;
  }
  .values {
    width: 90%;
  }
  .review {
    max-width: none;
    width: 90%;
  }
  .our-work p {
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    transform-style: preserve-3d;
  }
  .buttons {
    display: none;
  }
  .what-matters {
    display: flex;
    justify-content: center;
  }
  .what-matters ul {
    padding-right: 0;
  }
  .what-matters ul li {
    font-size: 15px;
    margin: 5px 0;
  }
  .what-matters div {
    margin: 0;
  }
  .wm1 {
    width: 90vw;
  }
  .what-matters-img {
    width: 90vw;
    height: 90vw;
  }
  #dropdown {
    margin: auto 15px;
    display: flex;
  }
  .dropButtons {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #2e253a;
    top: 95%;
    right: -100%;
    transform: translateX(-100%);
    overflow: auto;
    animation: animateFromBottom 0.3s;
  }
  .dropButtons a {
    font-size: 20px;
  }
  #Navbutton {
    padding: 12px 0;
  }
  .show {
    display: block;
  }
  .fa-bars {
    font-size: 2em;
  }
  .marketing-services-grid {
    grid-template-columns: 90%;
  }
  .our-offer h1 {
    font-size: 28px;
  }
  .our-offer p {
    font-size: 18px;
  }
  .our-work p {
    padding: 0 5px;
    text-align: left;
  }
  .our-blogs section {
    position: relative;
  }
  .our-blogs section .mySlides {
    display: none;
  }
  .prev, .next {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  .client-opinions {
    padding: 0;
  }
  .values {
    width: 90vw;
    height: 40%;
  }
  .values h1 {
    font-size: 1.6em;
  }
  .values p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
  }
  .review {
    height: 60%;
    padding: 15px;
    margin: 10px 5px;
  }
  .contact-us {
    padding: 15px;
  }
  .contact-form {
    width: 100%;
    min-width: none;
    padding-bottom: 80px;
  }
  .inputForms {
    width: 80%;
    margin: 5px 0;
  }
  input[type=submit] {
    bottom: 2%;
  }
  .last-message {
    flex-direction: column;
    padding: 10px 50px 50px 50px;
  }
}/*# sourceMappingURL=index.css.map */