@import 'basic'

.intro
    padding: 150px 50px 115px 50px
    background-color: $SecondaryColor
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center
    justify-items: center
    div
        img
            max-width: 45vw
    section
        max-width: 600px
        h1
            
            margin: 0
            font-size: 50px
            font-weight: 600
            letter-spacing: 2px
            color: $MainColor
            line-height: 65px
        p
            line-height: 22px
            color: $MainColor
            font-family: "roboto light"
        img
            width: 35px
            height: 15px

.showcase
    margin: 0 12vw
    display: flex
    justify-content: center
    gap: 95px
    section
        width: 420px
        h1
            font-size: 59px
            line-height: 65px
            margin: 15px 0
            font-weight: 700
            font-family: josefinSans
        p
            font-size: 18px
            font-weight: thin
            line-height: 22px
            margin: 0
    img
        width: 566px

.first
    margin: 200px 12vw 100px 12vw
    grid-template-columns: 1.4fr 1fr  
.second
    grid-template-columns: 1fr 1.4fr  
    margin-bottom: 100px  


.talk
    height: 385px
    background-color: $SecondaryColor
    display: grid
    grid-template-columns: 1fr 1fr
    justify-items: center
    align-items: center
    padding: 0 15vw
    h1
        color: $MainColor
        font-size: 60px
        line-height: 73px
    div
        width: 400px
        text-align: center
        p
            color: $MainColor
            font-size: 22px
            line-height: 48px
        button
            height: 66px
            width: 335px
            color: $MainColor
            font-size: 23px
            line-height: 33px
            border: 2px solid $MainColor
            transition: 0.5s
            &:hover
                color: $SecondaryColor
                background-color: $MainColor
                cursor: pointer

@media screen and (max-width: 1200px)
    .intro
        grid-template-columns: 1fr
        grid-template-rows: 1fr 1fr 
    .showcase
        img
            width: 35vw

@media screen and (max-width: 800px) 
    .intro
        padding: 0
        grid-template-rows: 0.6fr 1fr
        div
            img
                width: 95vw
        section
            width: 90vw
            h1
                font-size: 6vw
                line-height: 40px
    .showcase
        display: grid
        justify-items: center
        grid-template-columns: 1fr
        grid-template-rows: 1fr 1fr
        margin: 10px
        gap: 15px
        section
            margin: 10px
            width: 90vw
            h1
                font-size: 8vw
                line-height: 8vw
            p
                font-size: 4vw
                line-height: 4vw 
        img
            width: 75vw
    .first
        margin-top: 100px 
    .second
        margin: 0px 12vw 100px 12vw
    .talk
        height: 350px
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: 0.4fr 1fr
        padding: 0 0 30px
        h1
            font-size: 45px
            margin-bottom: 0
        div
            width: 85vw
            display: grid
            justify-content: center
            button
                width: 87vw
            p
                margin-top: 0
                font-size: 17px
                line-height: 20px