$MainColor: #2e253a
$SecondaryColor: #d7bd68
$ThirdColor: #ffffff
*
    box-sizing: border-box
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    background-color: rgba(0, 0, 0, 0)
    color: $ThirdColor
body
    margin: 0
    background-color: $MainColor
nav
    position: fixed
    width: 100%
    background-color: $MainColor
    display: grid
    grid-template-columns: 0.2fr 0.8fr
    grid-template-rows: 100%
    padding: 0 30px 0 30px
    height: 60px
    p    
        display: grid
        justify-items: center
        align-content: center
        border: 0px
        font-size: 20px
        margin: 0 14px
.logo
    height: 50px
    margin: auto 0
.fa-solid
    margin: auto 5px
    display: none
.buttons
    display: flex
    justify-content: right     
#Navbutton
    border: none
    text-decoration: none
    width: 80px
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    position: relative
    transition: 0.4s
    font-weight: 600
    &::after
        content: ''
        position: absolute
        width: 100%
        height: 2px
        left: 0
        top: 0
        background: $SecondaryColor
        transform: scaleX(0)
        transition: 0.4s
    &:hover::after
        transform: scaleX(1)
    &:hover
        color: $SecondaryColor  
      
.sticky
    position: fixed
    top: 0
    width: 100%
#gif-Container
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    animation: bgGif 12s ease-in-out infinite
@keyframes bgGif
    0%
        background-image: url('../img/gif.gif')
    48%
       background-image: url('../img/gif1.gif')
    81%
        background-image: url('../img/gif2.gif')
    100%
        background-image: url('../img/gif.gif')
.gif-contact
    color: $ThirdColor
    width: 400px
    text-align: center
    font-size: x-large
    p
        font-size: 24px
        margin: 0 0 10px 0
    button
        font-size: x-large
        font-weight: 600
        color: $ThirdColor
        background-color: $MainColor
        border: none
        width: 200px
        height: 45px
        border-radius: 10px
        transition: 0.5s
        &:hover
            cursor: pointer
            background-color: $SecondaryColor
            color: $MainColor

//MAIN

h1
    margin: 0
.our-offer
    padding: 50px 230px 50px 230px
    display: grid
    text-align: center
    align-content: center
    h1
        font-size: 38px
    p
        padding: 5px
        border-left: 2px solid $ThirdColor
        border-right: 2px solid $ThirdColor
        font-size: 28px
    
.what-matters
    background-color: $SecondaryColor
    padding: 4vw 15vw 4vw 15vw
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr
    justify-items: center
    align-content: center
    h1
        color: $MainColor
        font-size: 40px
        span
            color: $ThirdColor
    ul
        padding-right: 30px

    li
        font-size: 20px
        margin: 15px 0 10px 0
        border-bottom: 2px solid $MainColor
        color: $MainColor
        list-style-image: url(../img/icons/arrow.png)
        span
            color: $MainColor
            font-weight: 700
            
.wm1

.what-matters-img
    background-image: url('../img/placeholderIMG1.jpg')
    background-size: cover
    background-position: bottom
    border-radius: 10px
    width: 100%
    height: auto
//services
.marketing-services-grid
    display: grid
    grid-template-columns: repeat(3, 18vw)
    grid-template-rows: 25vh 25vh
    justify-content: center
    gap: 30px
    padding: 40px
    a
        text-decoration: none
        transition: 0.2s
        &:hover
            transform: translateY(-10%)
.serviceOptions
    display: grid
    align-content: center
    margin: 0 10px 0 10px
    border-radius: 10px
    border-left: solid 2px $SecondaryColor
    border-right: solid 2px $SecondaryColor
    padding: 0 10px 0 10px
    div
        display: flex
        position: relative
        img
            position: absolute
            left: 80%
            top: 50%
            transform: translateY(-50%)
            //margin: auto 0
            width: 48px
            height: 48px
//Blogs

// .container
//     display: flex
//     justify-content: right
//     align-items: center
//     padding: 0 5vw

// .our-blogs
//     width: 800px
//     height: 500px
//     border-radius: 10px
//     overflow: hidden

// .blog_slides
//     display: flex
//     width: 300%
//     height: 500px
//     input
//         display: none
// .slide
//     width: 33.3%
//     transition: 2s
//     img
//         width: 800px
//         height: 500px

// .navigation_manual
//     position: absolute
//     width: 800px
//     margin-top: -40px
//     display: flex
//     justify-content: right

// .manual_btn
//     border: solid 2px $SecondaryColor
//     padding: 5px
//     border-radius: 10px
//     cursor: pointer
//     transition: 1s
//     &:not(:last-child)
//         margin-right: 40px
//     &:hover
//         background-color: $SecondaryColor

// #slide1
//     &:checked ~ .first
//         margin-left: 0%
// #slide2
//     &:checked ~ .first
//         margin-left: -33.3%
// #slide3
//     &:checked ~ .first
//         margin-left: -66.6%       

// .navigation_auto
//     position: absolute
//     width: 800px
//     margin-top: -40px
//     display: flex
//     justify-content: right
//     div
//         border: solid 2px $SecondaryColor
//         padding: 5px
//         border-radius: 10px
//         cursor: pointer
//         transition: 1s
//         &:not(:last-child)
//             margin-right: 40px

// #slide1
//     &:checked ~ .navigation_auto .auto_btn1
//         background-color: $SecondaryColor
// #slide2
//     &:checked ~ .navigation_auto .auto_btn2
//         background-color: $SecondaryColor
// #slide3
//     &:checked ~ .navigation_auto .auto_btn3
//         background-color: $SecondaryColor        

//contact us article
.contact-us
    padding: 4vw 15vw 4vw 15vw
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr
    justify-items: center
    align-content: center
.contact-info
    h1
        font-size: 1.8em
        
    p
        padding: 0 10px 0 10px
        font-size: 1.2em
    h2
        font-size: 2em
        color: $ThirdColor
        font-style: italic
.contact-forum
    background-color: #7100ce11
    border-radius: 15px
    padding: 30px 10px 10px 10px
    height: 450px
    position: relative
.inputForms
    border: 1px solid $ThirdColor
    border-radius: 5px
    font-size: 1.3em
    width: 270px
    height: 50px
    margin: 5px 10px 5px 10px
.inputs
    text-align: left
    padding: 0 20px 0 20px
    label
        font-size: 1.1em
        a
            color: $SecondaryColor
form
    text-align: center
input[type=submit]
    width: 100px
    height: 30px
    background-color: $SecondaryColor
    border: none
    border-radius: 15px
    position: absolute
    bottom: 5%
    left: 50%
    transform: translate(-50%, -50%)
    color: $MainColor



