@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "roboto light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "josefinSans";
  src: url("../fonts/JosefinSans-Medium.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "roboto";
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
}

body {
  margin: 0;
  background-color: #ffffff;
}

nav {
  position: fixed;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  z-index: 8;
}

.no-margin {
  margin: 0;
}

.logo {
  width: 90px;
  margin: auto 20px;
  z-index: 9;
}

.fa-solid {
  margin: auto 5px;
}

.buttons {
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.6rem;
  cursor: pointer;
  border: none;
  position: relative;
  margin-right: 20px;
  z-index: 8;
}

.dropdown {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  margin: 0px;
  transition: all 0.7s cubic-bezier(0.16, 1, 0.5, 1);
  transform: translateY(-110%);
  visibility: hidden;
  background-color: #ffffff;
}
.dropdown button {
  border: none;
}
.dropdown button img {
  width: 30px;
}

.holder {
  display: flex;
  place-content: center;
  width: 80%;
  height: 90%;
  margin: 0 auto;
}
.holder a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.holder ul {
  margin: auto 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  grid-area: b;
  gap: 25px;
}
.holder ul li {
  text-align: center;
}
.holder ul li i {
  margin: 0 10px;
}

.blackbar {
  height: 10%;
  width: 100%;
  background-color: #000000;
}

.show {
  transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 800px) {
  nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    transform-style: preserve-3d;
  }
  .buttons {
    display: none;
  }
  .fa-bars {
    font-size: 2em;
  }
  .logo {
    margin: auto 20px;
  }
  .btn {
    margin-right: 20px;
  }
  .holder {
    width: 100%;
  }
}
.contact-us {
  padding: 4vw 15vw 4vw 15vw;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.contact-info {
  width: 50%;
}
.contact-info h1 {
  font-size: 1.8em;
}
.contact-info p {
  padding: 0 10px 0 10px;
  font-size: 1.2em;
}
.contact-info h2 {
  font-size: 1.5em;
  color: #000000;
  font-style: italic;
}

.contact-form {
  border-radius: 15px;
  padding: 30px 10px 80px 10px;
  width: 50%;
  height: auto;
  position: relative;
}

.fill-in {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.inputForms {
  border: 1px solid #007d5a;
  border-radius: 5px;
  font-size: 1.3em;
  width: 45%;
  height: 50px;
  margin: 5px 10px 5px 10px;
}

.inputs {
  text-align: left;
  padding: 0 20px 0 20px;
}
.inputs label {
  font-size: 1.1em;
}
.inputs label a {
  color: #007d5a;
}

form {
  text-align: center;
}

input[type=submit] {
  width: 100px;
  height: 30px;
  background-color: #007d5a;
  border: none;
  border-radius: 15px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  transition: 0.3s;
}
input[type=submit]:hover {
  background-color: #007d5a;
  color: #000000;
}

@media screen and (max-width: 1500px) {
  .contact-info {
    width: 100%;
  }
  .contact-us {
    padding: 4vw 8vw 4vw 8vw;
    flex-direction: column;
    padding: 15px;
  }
  .contact-form {
    width: 100%;
    min-width: none;
    padding-bottom: 80px;
  }
  .inputForms {
    width: 80%;
    margin: 5px 0;
  }
  input[type=submit] {
    bottom: 2%;
  }
}
footer {
  bottom: 0;
  display: flex;
  justify-content: center;
}

.last-message {
  display: flex;
  justify-content: space-between;
  height: 20%;
  padding: 20px 50px;
  font-size: 1.2em;
  margin-top: 50px;
}
.last-message section {
  display: flex;
  flex-direction: column;
  width: 10%;
}
.last-message section p {
  margin: 5px 0;
  font-size: 16px;
}
.last-message section div {
  display: flex;
  gap: 15px;
  margin: 5px 0;
}
.last-message section a {
  text-align: right;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}
.last-message section a:hover {
  text-decoration: underline;
}

.annoying {
  margin-left: auto;
  width: 60%;
}

@media screen and (max-width: 1200px) {
  .annoying {
    margin: auto;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .last-message {
    display: flex;
    flex-direction: column;
  }
  .last-message section {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
  .last-message section div {
    justify-content: center;
  }
  .last-message section a {
    text-align: center;
  }
  .annoying {
    width: 40%;
  }
}
.voodoo {
  opacity: 0;
  transition: 0.4s;
  cursor: none;
  display: none;
}

#cover {
  width: 100%;
  height: 99vh;
  position: absolute;
  top: -50px;
}

.hiden {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.noCursor {
  cursor: none;
}

.borderLine {
  display: flex;
  place-content: center;
  width: 100%;
}
.borderLine span {
  padding: 50px 0;
  width: 80%;
  border-bottom: solid 1px #cfcfcf;
}

.intro {
  padding: 150px 50px 115px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.intro div img {
  max-width: 45vw;
}
.intro section {
  max-width: 600px;
}
.intro section h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 65px;
}
.intro section p {
  line-height: 22px;
  font-family: "roboto light";
  font-weight: 600;
}
.intro section img {
  width: 35px;
  height: 15px;
}

#mousePlay {
  background-color: #000000;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 5px;
  pointer-events: none;
  z-index: 20000;
  transform-origin: center center;
  transition-property: background, transform;
  position: fixed;
  text-align: center;
}
#mousePlay h2 {
  margin: 30% 0;
  color: #ffffff;
}

.video {
  display: flex;
  justify-content: space-around;
}
.video a {
  cursor: none;
  width: 75%;
}

#moveDown {
  transform: rotate(90deg);
  border: 0px;
  font-size: 19px;
}

video {
  width: 100%;
}

.youtubeButton {
  display: none;
  place-content: center;
  margin: 15px;
}
.youtubeButton a {
  border: solid 2px #000000;
  padding: 5px 10px;
  border-radius: 15px;
  text-decoration: none;
}

.articleSpecialties {
  display: grid;
  justify-items: center;
  width: 100%;
  margin: 70px 0;
  gap: 20px;
}
.articleSpecialties p {
  width: 40%;
  font-family: "roboto light";
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  margin-right: 30px;
}
.articleSpecialties span {
  padding: 50px 0;
  width: 80%;
  border-bottom: solid 1px #cfcfcf;
}

.articleSpecHolder {
  display: flex;
  justify-content: center;
}

.specialtiesContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35%;
}

.specialties {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.specialties h2 {
  font-weight: 100;
  font-size: 30px;
  font-family: "roboto light";
}
.specialties i {
  transition: all 0.3s ease-in;
  transform: rotate(-180deg);
}

.specialtiesShown {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.specialtiesShown p {
  font-size: 20px;
  width: 100%;
  margin: 0;
  line-height: 24px;
}

.talk {
  height: 385px;
  background-color: #000000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 0 15vw;
  margin-top: 55px;
}
.talk h1 {
  color: #ffffff;
  font-size: 60px;
  line-height: 73px;
}
.talk div {
  width: 400px;
  text-align: center;
}
.talk div p {
  color: #ffffff;
  font-size: 22px;
  line-height: 48px;
}
.talk div button {
  height: 66px;
  width: 335px;
  color: #ffffff;
  font-size: 23px;
  line-height: 33px;
  border: 2px solid #ffffff;
  transition: 0.5s;
}
.talk div button:hover {
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}

.howWeWork {
  display: grid;
  margin: 20px 15%;
  text-align: center;
}
.howWeWork h3 {
  font-family: "roboto light";
  font-weight: 100;
  font-size: 24px;
  margin: 18px 0;
}
.howWeWork p {
  font-family: "roboto light";
  font-size: 17px;
  font-weight: 100;
  color: #212529;
}
.howWeWork section {
  display: flex;
  place-content: center;
  margin: 80px 0;
  gap: 20px;
}

.howWeWorkDivHold {
  display: flex;
  gap: 20px;
  width: 50%;
}
.howWeWorkDivHold div {
  width: 50%;
}
.howWeWorkDivHold img {
  width: 70px;
  height: 70px;
}

.howWeWorkTitle {
  display: grid;
  text-align: center;
}
.howWeWorkTitle h2 {
  font-family: "roboto light";
  font-size: 32px;
}
.howWeWorkTitle p {
  font-family: "roboto light";
  font-weight: 100;
  font-size: 24px;
  margin: 15px 20%;
  color: #212529;
}

@media screen and (max-width: 1200px) {
  .intro {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .intro div img {
    max-width: 60vw;
  }
  .articleSpecialties p {
    text-align: center;
    width: 80%;
    font-size: 28px;
    margin: 24px 10%;
  }
  .articleSpecHolder {
    flex-direction: column;
    justify-content: center;
  }
  .specialtiesContainer {
    width: 100%;
  }
  .specialties {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 10%;
  }
  .specialtiesShown {
    width: 80%;
    margin: 0 10%;
  }
  .specialtiesShown p {
    text-align: left;
    width: 100%;
    font-size: 22px;
    line-height: 24px;
    margin: 0;
  }
  .howWeWork section {
    flex-direction: column;
  }
  .howWeWorkDivHold {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .intro {
    padding: 30px 0 0 0;
    grid-template-rows: 1fr 0.6fr;
    grid-template-areas: "b" "a";
  }
  .intro div {
    grid-area: a;
  }
  .intro div img {
    max-width: 95vw;
  }
  .intro section {
    margin-top: 35px;
    grid-area: b;
    width: 90vw;
  }
  .intro section h1 {
    font-size: 6vw;
    line-height: 40px;
  }
  .intro section p {
    margin: 15px 0 0 0;
  }
  #moveDown {
    display: none;
  }
  .video {
    display: block;
  }
  video {
    width: 100%;
  }
  .youtubeButton {
    display: flex;
  }
  .articleSpecialties {
    flex-direction: column;
  }
  .articleSpecialties p {
    margin: auto;
    width: 90%;
    font-family: "roboto light";
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
  }
  .specialtiesContainer {
    margin: auto;
    width: 90%;
  }
  .specialties {
    width: 100%;
    margin: 0;
    font-size: 20px;
  }
  .specialtiesShown {
    width: 100%;
    margin: 0;
  }
  .specialtiesShown p {
    width: 100%;
    font-size: 18px;
  }
  .howWeWork {
    margin: 20px 5%;
  }
  .howWeWorkTitle h2 {
    font-family: "roboto light";
    font-size: 28px;
  }
  .howWeWorkTitle p {
    font-family: "roboto light";
    font-weight: 100;
    font-size: 20px;
    margin: 15px 0;
    color: #212529;
  }
  .howWeWorkDivHold {
    flex-direction: column;
  }
  .howWeWorkDivHold div {
    width: 100%;
  }
  .talk {
    height: 350px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr;
    padding: 0 0 30px;
  }
  .talk h1 {
    font-size: 45px;
    margin-bottom: 0;
  }
  .talk div {
    width: 85vw;
    display: grid;
    justify-content: center;
  }
  .talk div button {
    width: 87vw;
  }
  .talk div p {
    margin-top: 0;
    font-size: 17px;
    line-height: 20px;
  }
}/*# sourceMappingURL=index.css.map */