@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "roboto light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "josefinSans";
  src: url("../fonts/JosefinSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "LeagueSpartanEL";
  src: url("../fonts/LeagueSpartan-Light.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "LeagueSpartanEL";
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
}

body {
  margin: 0;
  background-color: #ffffff;
}

nav {
  position: fixed;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  z-index: 8;
}

.no-margin {
  margin: 0;
}

.logo {
  width: 90px;
  margin: auto 20px;
  z-index: 9;
}

.fa-solid {
  margin: auto 5px;
}

.buttons {
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.6rem;
  cursor: pointer;
  border: none;
  position: relative;
  margin-right: 20px;
  z-index: 8;
}

.dropdown {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  margin: 0px;
  transition: all 0.7s cubic-bezier(0.16, 1, 0.5, 1);
  transform: translateY(-110%);
  visibility: hidden;
  background-color: #ffffff;
}
.dropdown button {
  border: none;
}
.dropdown button img {
  width: 30px;
}

.holder {
  display: flex;
  place-content: center;
  width: 80%;
  height: 90%;
  margin: 0 auto;
}
.holder a {
  text-decoration: none;
  font-size: 32px;
  color: black;
}
.holder ul {
  margin: auto 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  grid-area: b;
  gap: 25px;
}
.holder ul li {
  text-align: center;
}
.holder ul li i {
  margin: 0 10px;
}

.blackbar {
  height: 10%;
  width: 100%;
  background-color: #000000;
}

.show {
  transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 800px) {
  nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    transform-style: preserve-3d;
  }
  .buttons {
    display: none;
  }
  .fa-bars {
    font-size: 2em;
  }
  .logo {
    margin: auto 20px;
  }
  .btn {
    margin-right: 20px;
  }
  .holder {
    width: 100%;
  }
}
.contact-us {
  padding: 4vw 15vw 4vw 15vw;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.contact-info {
  width: 50%;
}
.contact-info h1 {
  font-size: 1.8em;
}
.contact-info p {
  padding: 0 10px 0 10px;
  font-size: 1.2em;
}
.contact-info h2 {
  font-size: 1.5em;
  color: #000000;
  font-style: italic;
}

.contact-form {
  border-radius: 15px;
  padding: 30px 10px 80px 10px;
  width: 50%;
  height: auto;
  position: relative;
}

.fill-in {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.inputForms {
  border: 1px solid #007d5a;
  border-radius: 5px;
  font-size: 1.3em;
  width: 45%;
  height: 50px;
  margin: 5px 10px 5px 10px;
}

.inputs {
  text-align: left;
  padding: 0 20px 0 20px;
}
.inputs label {
  font-size: 1.1em;
}
.inputs label a {
  color: #007d5a;
}

form {
  text-align: center;
}

input[type=submit] {
  width: 100px;
  height: 30px;
  background-color: #007d5a;
  border: none;
  border-radius: 15px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  transition: 0.3s;
}
input[type=submit]:hover {
  background-color: #007d5a;
  color: #000000;
}

@media screen and (max-width: 1500px) {
  .contact-info {
    width: 100%;
  }
  .contact-us {
    padding: 4vw 8vw 4vw 8vw;
    flex-direction: column;
    padding: 15px;
  }
  .contact-form {
    width: 100%;
    min-width: none;
    padding-bottom: 80px;
  }
  .inputForms {
    width: 80%;
    margin: 5px 0;
  }
  input[type=submit] {
    bottom: 2%;
  }
}
footer {
  bottom: 0;
  display: flex;
  justify-content: center;
}

.last-message {
  display: flex;
  justify-content: space-between;
  height: 20%;
  padding: 20px 50px;
  font-size: 1.2em;
  margin-top: 50px;
}
.last-message section {
  display: flex;
  flex-direction: column;
  width: 10%;
}
.last-message section p {
  margin: 5px 0;
  font-size: 18px;
}
.last-message section div {
  display: flex;
  gap: 15px;
  margin: 5px 0;
}
.last-message section a {
  text-align: right;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
}
.last-message section a:hover {
  text-decoration: underline;
}

.annoying {
  margin-left: auto;
  width: 60%;
}

@media screen and (max-width: 1200px) {
  .annoying {
    margin: auto;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .last-message {
    display: flex;
    flex-direction: column;
  }
  .last-message section {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
  .last-message section div {
    justify-content: center;
  }
  .last-message section a {
    text-align: center;
  }
  .annoying {
    width: 40%;
  }
}
header {
  background-color: #000000;
  min-height: 20vw;
  padding: 75px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  color: #ffffff;
  font-size: 2.3em;
}
header p {
  font-weight: 500;
  color: #ffffff;
  font-size: 1.2em;
}
header button {
  font-size: x-large;
  font-weight: 600;
  color: #000000;
  background-color: #ffffff;
  border: none;
  width: auto;
  height: 45px;
  border-radius: 10px;
  transition: 0.5s;
  padding: 0 20px;
}
header button:hover {
  cursor: pointer;
  background-color: #007d5a;
}
header div {
  width: 40%;
}
header img {
  margin: 20px;
  width: 30%;
}

main div {
  display: grid;
  justify-content: center;
}

.explanation {
  padding: 50px;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3em;
  text-align: center;
}

.precentages {
  display: flex;
  justify-content: space-evenly;
  background-color: #282131;
}
.precentages div {
  width: 25%;
  text-align: center;
  padding: 40px 0;
}
.precentages div h1 {
  font-weight: 400;
  font-size: 2.5em;
  margin: 0;
  color: #007d5a;
}
.precentages div p {
  font-weight: 300;
  font-size: 1.1em;
  margin: 0;
}

.options {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-image: url("https://unsplash.it/1920/800");
  background-size: cover;
  background-color: rgba(81, 28, 124, 0.5019607843);
  background-blend-mode: multiply;
  align-items: center;
  justify-content: center;
}
.options button {
  font-size: x-large;
  font-weight: 600;
  color: #000000;
  background-color: #ffffff;
  border: none;
  width: auto;
  height: 45px;
  border-radius: 1px;
  transition: 0.5s;
  margin: 20px;
  padding: 0 20px;
}
.options button:hover {
  cursor: pointer;
  background-color: #007d5a;
}

.reasons {
  text-align: center;
}
.reasons h1 {
  font-size: 2.4em;
}
.reasons p {
  font-size: 500;
  font-size: 1.4em;
}

.choices {
  background-color: rgba(61, 25, 95, 0.6588235294);
  border-radius: 2px;
  width: 80%;
}
.choices ul {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 15px;
}
.choices li {
  position: relative;
  width: 40%;
  font-size: 1.5em;
  list-style: none;
}
.choices li p {
  margin: 0 0 0 45px;
}

.checkmark {
  position: absolute;
  content: url("../img/icons/checkmark.svg");
  color: #0099ff;
  width: 35px;
}

@media screen and (max-width: 1000px) {
  header img {
    width: 280px;
  }
  .choices ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .choices li {
    margin: 10px;
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  .explanation {
    padding: 5px;
    width: 99vw;
  }
  .precentages {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .precentages div {
    width: 50%;
  }
  .reasons {
    text-align: center;
  }
  .reasons h1 {
    font-size: 1.8em;
  }
  .reasons p {
    font-size: 500;
    font-size: 1.2em;
  }
  .options {
    padding: 0;
  }
  .choices {
    width: 100%;
  }
  .choices ul {
    margin: 0;
  }
  .choices li {
    font-size: 1.2em;
    margin: 10px;
    width: 100%;
  }
  header {
    flex-flow: column-reverse;
  }
  header div {
    text-align: center;
    width: 100%;
  }
}/*# sourceMappingURL=our-service-services.css.map */