@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "roboto light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "josefinSans";
  src: url("../fonts/JosefinSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "LeagueSpartanEL";
  src: url("../fonts/LeagueSpartan-Light.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "LeagueSpartanEL";
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
}

body {
  margin: 0;
  background-color: #ffffff;
}

nav {
  position: fixed;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  z-index: 8;
}

.no-margin {
  margin: 0;
}

.logo {
  width: 90px;
  margin: auto 20px;
  z-index: 9;
}

.fa-solid {
  margin: auto 5px;
}

.buttons {
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.6rem;
  cursor: pointer;
  border: none;
  position: relative;
  margin-right: 20px;
  z-index: 8;
}

.dropdown {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  margin: 0px;
  transition: all 0.7s cubic-bezier(0.16, 1, 0.5, 1);
  transform: translateY(-110%);
  visibility: hidden;
  background-color: #ffffff;
}
.dropdown button {
  border: none;
}
.dropdown button img {
  width: 30px;
}

.holder {
  display: flex;
  place-content: center;
  width: 80%;
  height: 90%;
  margin: 0 auto;
}
.holder a {
  text-decoration: none;
  font-size: 32px;
}
.holder ul {
  margin: auto 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  grid-area: b;
  gap: 25px;
}
.holder ul li {
  text-align: center;
}
.holder ul li i {
  margin: 0 10px;
}

#en img {
  height: 20px;
  width: 32px;
}

#lt img {
  height: 20px;
  width: 32px;
}

.blackbar {
  height: 10%;
  width: 100%;
  background-color: #000000;
}

.show {
  transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 800px) {
  nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    transform-style: preserve-3d;
  }
  .buttons {
    display: none;
  }
  .fa-bars {
    font-size: 2em;
  }
  .logo {
    margin: auto 20px;
  }
  .btn {
    margin-right: 20px;
  }
  .holder {
    width: 100%;
  }
}
footer {
  bottom: 0;
  display: flex;
  justify-content: center;
}

.last-message {
  display: flex;
  justify-content: space-between;
  height: 20%;
  padding: 70px 50px 20px 50px;
  font-size: 1.2em;
}
.last-message section {
  display: flex;
  flex-direction: column;
  width: 10%;
}
.last-message section p {
  margin: 5px 0;
  font-size: 18px;
}
.last-message section div {
  display: flex;
  gap: 15px;
  margin: 5px 0;
}
.last-message section a {
  text-align: right;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
}
.last-message section a:hover {
  text-decoration: underline;
}

.annoying {
  margin-left: auto;
  width: 60%;
}

@media screen and (max-width: 1200px) {
  .annoying {
    margin: auto;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .last-message {
    display: flex;
    flex-direction: column;
  }
  .last-message section {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
  .last-message section div {
    justify-content: center;
  }
  .last-message section a {
    text-align: center;
  }
  .annoying {
    width: 40%;
  }
}
.borderLine {
  display: flex;
  place-content: center;
  width: 100%;
  padding: 70px 0;
}
.borderLine span {
  padding: 0;
  width: 100%;
  border-bottom: solid 1px #cfcfcf;
}

.long span {
  width: 95%;
}

main {
  padding: 5vw;
  padding-bottom: 70px;
}

.partnersHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  letter-spacing: 3px;
}
.partnersHeader img {
  width: 60px;
}

.partnerContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.partner {
  max-width: 650px;
  width: 50vw;
}
.partner img {
  width: 100%;
}
.partner p {
  font-size: 20px;
}

.first {
  text-align: right;
}

.seperator {
  padding: 0;
  display: none;
}

@media screen and (max-width: 1000px) {
  main {
    padding: 15px;
  }
  .partnerContainer {
    flex-direction: column;
  }
  .partner {
    max-width: none;
    width: 100%;
  }
  .seperator {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  main {
    margin-top: 60px;
    padding: 0;
  }
  .partner {
    text-align: center;
  }
  .partner h1 {
    margin: 10px;
    font-size: 26px;
  }
  .partner p {
    margin: 10px;
  }
}/*# sourceMappingURL=partners.css.map */